p{
    font-size: 13.8px;
    color: #212427;
    font-family: 'verdana', sans-serif;
    margin: 0;
    font-weight: bold;
}

img{
    width: 50%;
    height: auto;
    display: block;
    position: relative;
    top: 10px;
    margin: auto;
}

body{
    background-color: #a8a5a5;
    margin: 20px;
    padding: 20px;
}

.card{
    border-radius: 10px;
    background-color: #ffffff;
    width: 300px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    height: 400px
}

 .formula{
    position: relative;
    top: 20px;
    text-align: center;
    margin-bottom: 15px;
    display: flex;
    margin-left: 15px;
}

.formula input{
    font-family: "Courier New", monospace;
    font-size: 11px;
    position: relative;
    margin: 0 5px;
}

label{
    font-size: 14px;
    font-family: 'verdana', sans-serif;
}

.label{
    text-align: center;
    position: relative;
    top: 25px;
    margin-bottom: 10px;
}

button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    top: 30px;
    display: block;
    margin: auto;
    position: relative;
    right: 95px;
}